@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

:root {

  /* Primary Colors */
  --cyan: hsl(180, 66%, 49%);
  --Dark-Violet: hsl(257, 27%, 26%);

  /* Secondary Colors */
  --Red: hsl(0, 87%, 67%);

  /* Neutral Colors */
  --Gray: hsl(0, 0%, 75%);
  --Grayish-Violet: hsl(257, 7%, 63%);
  --Very-Dark-Blue: hsl(256, 36%, 25%);
  --Very-Dark-Violet: hsl(260, 8%, 14%);


}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  /* border: 1px red solid; */
}

/* Universal styling p */
a {
  font-size: .7rem;
  color: var(--Grayish-Violet);
  text-decoration: none;
}


.header-container {
  padding: 1rem 2rem 3rem 2rem;
  margin-bottom: 1rem;
  /* border: 1px red solid; */
  display: flex;
  justify-content: space-between;
}

nav {
  /* border: 1px red solid; */
  display: flex;
  align-items: center;
  gap: 1rem;
}

nav img {
  width: 90px;
}

.logins-container {
  /* border: 1px red solid; */
  display: flex;
  align-items: center;
  gap: 1rem;
}

button {
  /* width: 64px; */
  /* height: 24px; */
  font-size: .7rem;
  font-family: inherit;
  color: white;
  border: none;
  background-color: var(--cyan);
  text-align: center;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 20px;
}

button:hover {
  color: white;
  background-color: var(--cyan);
  transform: scale(1.1);
}

section {
  border: 1px solid red;
  display: flex;
  gap: 2rem;
  height: 20rem;
  width: 100%;
  padding: 0 2rem;
}

.left {
  /* border: 1px solid red; */
  width: 50%;
}

h1 {
  font-size: 2.5rem;
  line-height: 2.8rem;
}

.left p {
  margin-top: -30px;
}

.right {
  /* border: 1px solid red; */
  width: 50%;
  background: 50% / 20rem 19rem url("./images/illustration-working.svg") no-repeat;
}

aside {
  border: 1px solid red;
  height: 25%;
  background: 0 0 / 100% 100% url("./images/bg-boost-desktop.svg") var(--Very-Dark-Blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  column-gap: 0;
}

h3 {
  color: black;
  padding: 1rem;
  font-weight: 700;
}

.started {
  margin-top: -.8rem;
  margin-bottom: 1rem;
}

article {
  background-color: rgb(244, 244, 255);
}

.head {
  padding: 1rem;
  width: 40%;
  margin: 0 auto;
  text-align: center;
}

.head p {
  margin-top: -30px;
  color: rgb(135, 132, 132);
  font-size: .7rem;
  line-height: .8rem;
}

.tail {
  /* position: relative; */
}
.details-container {
  display: flex;
  padding: 1rem;
  gap: 1.2rem;
  /* border: 1px solid red; */
  height: 15rem;
}

p {
  font-size: .7rem;
  margin-top: -20px;
  line-height: .8rem;
}

.box {
  background-color: white;
  padding: .5rem;
  z-index: 1;
  border-radius: 5px;
  position: relative;
}

.box1 {
  align-self: flex-start;
}
.box2 {
  align-self: center;
  
}
.box3 {
  align-self: flex-end;
}

.line {
  width: 50%;
  border: 3px solid var(--cyan);
  position: relative;
  top: -150px;
  margin: 0 auto;
  z-index: 0;
}

.icon-container {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--Very-Dark-Blue);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -35px;
  left: 15px;
}